/* In your ParallaxEffect.css */
.parallax-container {
    position: relative;
    height: 100vh; /* Adjust the height to your liking */
    overflow: hidden;
  }
  
  .parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .parallax-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); /* Convert the image to black and white */
    transform-origin: center center;
    transition: transform 0.5s ease-out;  
  }
  
  .parallax-content {
    position: relative; /* Set position to relative to make the h1 position relative to this container */
    padding: 0px; /* Adjust the spacing to your liking */
  }  